<button type="button" class="btn btn-warning" id="gameStopWallet" onclick="gameStop();">Connect Gamestop Wallet</button>

<div id="nfts"></div>

{{!-- <ul class="people_list"> --}}
  {{#each data}}
    {{!-- <li>{{@key}}:{{this}}</li> --}}
    <a href=# onclick="sendSelectedNftToUser('{{this}}');" >{{@key}}</a><br>
  {{/each}}
{{!-- </ul> --}}