<button type="button" class="btn btn-warning" id="gameStopWallet" onclick="gameStop();">Connect Gamestop Wallet</button>

<ul class="people_list">
  {{#each data}}
    <li>{{@key}}:{{this}}</li>
  {{/each}}
</ul>