<h1>Complete!</h1>

<p>Thanks {{user}}! You're registration is complete! We will check your wallet at address {{wallet}} for the necessary NFT needed to post in SUBREDDIT NAME. There nothinn left for you to do here, unless you want to connect more wallets by running throuh the steps again <a href="/">here.</a></p>