<h1>NFT Distributor</h1>

<div id="connnect">
    {{!-- <button type="button" class="btn btn-primary" id="connectWallet" onclick="showQr();" style="display:none">Connect Wallet</button> --}}
    {{!-- <button type="button" class="btn btn-primary" id="disconnectWallet" onclick="showQr();" style="display:none">Disconnnect Wallet</button> --}}

    <button type="button" class="btn btn-warning" id="gameStopWallet" onclick="gameStop();">Connect Gamestop Wallet</button>
{{!-- <button type="button" class="btn btn-primary" id="getNFTs" onclick="getNFTs();">Get NFTs</button>
    <br><input type="text" id="nftId" name="nftid" value=""><br>
<button type="button" class="btn btn-primary" id="getGas" onclick="getGasFee();">Get Gass Fee</button>
<button type="button" class="btn btn-primary" id="getStorageId" onclick="getStorageId();">Get Storage ID</button> --}}
</div>
<div id="nfts"></div>