<h1>NFT Distributor</h1>

<div id="connnect">
    <button type="button" class="btn btn-primary" id="connectWallet" onclick="showQr();" style="display:none">Connect Wallet</button>
    <button type="button" class="btn btn-primary" id="disconnectWallet" onclick="showQr();" style="display:none">Disconnnect Wallet</button>
</div>
